In [1]:
import pandas as pd

In [14]:
s=pd.Series(["A","B","C","D"],["a","b","c","d"])
s

a    A
b    B
c    C
d    D
dtype: object

In [15]:
s.describe()

count     4
unique    4
top       B
freq      1
dtype: object

In [7]:
# series=data+index+dtype
#fetch values
s.values

array(['A', 'B', 'C', 'D'], dtype=object)

In [8]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
s.dtype

dtype('O')

# Summarize the report on the series

In [20]:
#describe:Generate descriptive statistics.
#it works default on numeric data
s = pd.Series([10,20,30,40],['A','B','C','D'])
s

A    10
B    20
C    30
D    40
dtype: int64

In [21]:
s.describe()

count     4.000000
mean     25.000000
std      12.909944
min      10.000000
25%      17.500000
50%      25.000000
75%      32.500000
max      40.000000
dtype: float64

In [24]:
s.describe()[['count','max']]

count     4.0
max      40.0
dtype: float64

In [25]:
s.describe()['count']

4.0

In [27]:
#create a series using Numpy
import numpy as np
s=pd.Series(np.arange(1,12))
s

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
dtype: int32

In [28]:
#fetch first 5 entries
#default head gives first 5 entries
s.head()

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [29]:
s.head(2)

0    1
1    2
dtype: int32

In [32]:
s.tail()

6      7
7      8
8      9
9     10
10    11
dtype: int32

In [33]:
s.tail(3)

8      9
9     10
10    11
dtype: int32

In [36]:
g=pd.Series([1,10,10,20,20,30])
g

0     1
1    10
2    10
3    20
4    20
5    30
dtype: int64

In [37]:
#to fetch unique  and count of uniqe element
g.unique()

array([ 1, 10, 20, 30], dtype=int64)

In [38]:
g.nunique()

4

In [39]:
#value_counts() fetch occurence of each element
g.value_counts()

10    2
20    2
1     1
30    1
dtype: int64

In [41]:
s1=pd.Series([1,2,3,4])
s2=pd.Series([4,5,6])
s1,s2

(0    1
 1    2
 2    3
 3    4
 dtype: int64,
 0    4
 1    5
 2    6
 dtype: int64)

In [42]:
s1+s2#elementwise addition
#NaN stands for Not a number
#whereever the data is missing then will get NaN

0    5.0
1    7.0
2    9.0
3    NaN
dtype: float64

# append two series

In [45]:
s1,s2

(0    1
 1    2
 2    3
 3    4
 dtype: int64,
 0    4
 1    5
 2    6
 dtype: int64)

In [46]:
s1.append(s2)

0    1
1    2
2    3
3    4
0    4
1    5
2    6
dtype: int64

In [47]:
s1.pop(0)#item mean index

1

In [48]:
s1

1    2
2    3
3    4
dtype: int64

In [50]:
s1.pop(0)# zero index is not there

KeyError: 0

In [51]:
a=pd.Series(np.arange(1,11))
a

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

In [52]:
a.nlargest()# nlargest==>it fetch data wise

9    10
8     9
7     8
6     7
5     6
dtype: int32

In [53]:
a.nlargest(3)

9    10
8     9
7     8
dtype: int32

In [56]:
a.nsmallest()#nsmallest==>it fetch data wise

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [76]:
b=pd.Series([10,20,78,45,1,3,89,65,4,0,247,247,89,456])
b

0      10
1      20
2      78
3      45
4       1
5       3
6      89
7      65
8       4
9       0
10    247
11    247
12     89
13    456
dtype: int64

In [64]:
b.nlargest()

13    456
10    247
11    247
6      89
12     89
dtype: int64

In [65]:
b.nsmallest()

9     0
4     1
5     3
8     4
0    10
dtype: int64

In [72]:
b.nlargest(keep='last')#bottom up approach###keep = first all last se index mai chage hogha

13    456
11    247
10    247
12     89
6      89
dtype: int64

# How to convert series to a different data type¶

In [77]:
b.dtype

dtype('int64')

In [79]:
b.astype('int32')

0      10
1      20
2      78
3      45
4       1
5       3
6      89
7      65
8       4
9       0
10    247
11    247
12     89
13    456
dtype: int32

In [81]:
b.astype('category')

0      10
1      20
2      78
3      45
4       1
5       3
6      89
7      65
8       4
9       0
10    247
11    247
12     89
13    456
dtype: category
Categories (12, int64): [0, 1, 3, 4, ..., 78, 89, 247, 456]

In [82]:
h=pd.Series(["HR","Developer","HR","Developer"])
h

0           HR
1    Developer
2           HR
3    Developer
dtype: object

In [87]:
h.value_counts()

Developer    2
HR           2
dtype: int64

In [89]:
h.__sizeof__()

378

In [90]:
h.ndim

1

In [91]:
h.dtype

dtype('O')

In [92]:
#Compute correlation with `other` Series
a.corr(b)

-0.07026026009845518

In [84]:
h.nunique

<bound method IndexOpsMixin.nunique of 0           HR
1    Developer
2           HR
3    Developer
dtype: object>

In [95]:
a

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

# where()

In [94]:
#Replace values where the condition is False.
a.where(a<5)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
dtype: float64

In [96]:
a.where(s<5,other=0)

0    1
1    2
2    3
3    4
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int32

In [97]:
a.where(a<5,0,inplace=True)

In [98]:
a

0    1
1    2
2    3
3    4
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int32

In [99]:
a

0    1
1    2
2    3
3    4
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int32

In [100]:
a.head(4)

0    1
1    2
2    3
3    4
dtype: int32

In [102]:
a.nlargest(4)[::-1]

0    1
1    2
2    3
3    4
dtype: int32

In [103]:
a.nsmallest(4)[::-1]

7    0
6    0
5    0
4    0
dtype: int32

In [104]:
a[:4]

0    1
1    2
2    3
3    4
dtype: int32

In [108]:
for i in b.index:
    if i<50:
          
        print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [110]:
for i in b:
    if i<50:
          
        print(i)

10
20
45
1
3
4
0

In [112]:
import numpy as np

# dealing with index values

In [156]:
z=pd.Series([np.nan,1,np.nan,20])
z

0     NaN
1     1.0
2     NaN
3    20.0
dtype: float64

In [157]:
z.isna()

0     True
1    False
2     True
3    False
dtype: bool

In [118]:
z.isna().sum()

2

In [158]:
z.isnull().sum()

2

# fill Nan

In [159]:
z

0     NaN
1     1.0
2     NaN
3    20.0
dtype: float64

In [123]:
z.fillna(0)

0     0.0
1     1.0
2     0.0
3    20.0
dtype: float64

In [160]:
z.fillna("missing")

0    missing
1        1.0
2    missing
3       20.0
dtype: object

In [161]:
z.mean()

10.5

In [162]:
z.fillna(z.mean())

0    10.5
1     1.0
2    10.5
3    20.0
dtype: float64

# Central measures of tendancy¶

In [ ]:
#mean
#mod3
#median

In [163]:
g=pd.Series([10,20,10,78,45,89])
g

0    10
1    20
2    10
3    78
4    45
5    89
dtype: int64

In [164]:
g.mean()

42.0

In [165]:
g.median()

32.5

In [168]:
g.mode()

0    10
dtype: int64

In [169]:
z

0     NaN
1     1.0
2     NaN
3    20.0
dtype: float64

In [170]:
z.ffill()

0     NaN
1     1.0
2     1.0
3    20.0
dtype: float64

In [167]:
z.bfill()

0     1.0
1     1.0
2    20.0
3    20.0
dtype: float64

# ffill and bfill using fillna() method¶

In [171]:
z

0     NaN
1     1.0
2     NaN
3    20.0
dtype: float64

In [173]:
z.fillna(method='ffill')

0     NaN
1     1.0
2     1.0
3    20.0
dtype: float64

In [174]:
z.fillna(method='bfill')

0     1.0
1     1.0
2    20.0
3    20.0
dtype: float64

In [175]:
z1=pd.Series([10,20,np.nan,60,np.nan])
z1

0    10.0
1    20.0
2     NaN
3    60.0
4     NaN
dtype: float64

In [176]:
z1.fillna(method="bfill")

0    10.0
1    20.0
2    60.0
3    60.0
4     NaN
dtype: float64

# rather than dealing with NaN, simplest way is to remo

In [177]:
z1

0    10.0
1    20.0
2     NaN
3    60.0
4     NaN
dtype: float64

In [179]:
#Return a new Series with missing values removed.
z1.dropna()

0    10.0
1    20.0
3    60.0
dtype: float64

In [181]:
z.dropna(inplace=True)
z

1     1.0
3    20.0
dtype: float64