# DataFrame:
A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

#### Features of DataFrame
        Potentially columns are of different types
        Size – Mutable
        Labeled axes (rows and columns)
        Can Perform Arithmetic operations on rows and columns

## pandas.DataFrame

A pandas DataFrame can be created using the following constructs −

pandas.DataFrame( data, index, columns, dtype, copy)

pandas.DataFrame(data,row,column,dtype)

## Create DataFrame
    A pandas DataFrame can be created using various inputs like −

      #  Lists
      #  dict
      #  Series
      #  Numpy ndarrays
      #  Another DataFrame

# Sample Data

In [1]:
#Lets Create an empty dataFrame
import pandas as pd

In [2]:
##data,index,columns,dtype
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [3]:
print(pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

## DataFrame using Lists

In [4]:
d = [10,12,14,15]
pd.DataFrame(d)

    0
0  10
1  12
2  14
3  15

In [5]:
pd.Series(d)

0    10
1    12
2    14
3    15
dtype: int64

## Create a DataFrame using multiple list/list of list

In [6]:
data=[['A',53],['B',52],['C',53]]
df=pd.DataFrame(data)
df

   0   1
0  A  53
1  B  52
2  C  53

In [7]:
# we can give our own index/labels---row
data=[['A',53],['B',52],['C',53]]
df=pd.DataFrame(data,index=[10,20,30])
df

    0   1
10  A  53
20  B  52
30  C  53

In [8]:
# If we want to assign the column name 
data=[['A',53],['B',52],['C',53]]
df=pd.DataFrame(data,index=[10,20,30],columns=['Name','Age'])
df

   Name  Age
10    A   53
20    B   52
30    C   53

## Create a DataFrame from Dict of Lists

In [9]:
data = {'Name':['Vishal'],'Age':[28]}
pd.DataFrame(data)
#when we use dict as an input then key becomes a column lable

     Name  Age
0  Vishal   28

In [10]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],
        'Age':[28,34,29,30]}
df = pd.DataFrame(data)
df

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   30

In [11]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],
        'Age':[28,34,29,30]}
df2 = pd.DataFrame(data,columns=['Student','Rank'])
#if we try to change column names directly...it wont change
df2

Empty DataFrame
Columns: [Student, Rank]
Index: []

In [12]:
data['Name']

['Tom', 'Jack', 'Steve', 'Ricky']

## Still if i want to change a name of a column

In [13]:
df.rename(columns={'Name':'Student_name','Age':'Rank'})

  Student_name  Rank
0          Tom    28
1         Jack    34
2        Steve    29
3        Ricky    30

In [14]:
# df#here its temp...in order to do permnt change use inplace=True

In [15]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],
        'Age':[28,34,29,30]}
pd.DataFrame(data,columns=['Name'])

    Name
0    Tom
1   Jack
2  Steve
3  Ricky

In [16]:
#values in each row should match exactly otherwise exception
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],
        'Age':[28,34,29]}
pd.DataFrame(data)

ValueError: arrays must all be same length

In [ ]:
pd.DataFrame({'name':['Vishal','Kedar'],'age':[24,25]},index=[10,20,30,40])

In [ ]:
#list of list
data = [['Tom', 'Jack', 'Steve', 'Ricky'],[28,34,29,30]]
pd.DataFrame(data,index=['Student_nm','Rank'])

In [ ]:
data = [['Tom', 'Jack', 'Steve', 'Ricky'],[28,34,29]]
pd.DataFrame(data,index=['Student','Rank'],columns=list('abcd'))#columns=['a','b','c','d']

In [ ]:
list('abcd')

In [ ]:
#if we want to make rows as column an viceversa
data = [['Tom', 'Jack', 'Steve', 'Ricky'],[28,34,29,30]]
pd.DataFrame(data,index=['Student','Rank']).T #Transpose

## DataFrame by passing a list of dictionaries

In [ ]:
data=[{'a': 1, 'b': 2,'c':14},{'a': 5, 'b': 10, 'c': 20}]
data

In [ ]:
df=pd.DataFrame(data)
df

In [ ]:
data=[{'a':10,'b':20,},{'a':40,'b':50,'c':60}]
df=pd.DataFrame(data)
df
#NaN stands for Not a number==> missing entry

In [ ]:
data=[{'a':10,'b':20},{'c':40,'d':50}]
df=pd.DataFrame(data,index=['first','second'])
df

In [ ]:
data=[{'a':1,'b':2},{'a':3,'b':4,'c':5}]
# when we dont want a column 'c' then specify only reuired columns
df=pd.DataFrame(data,index=['first','second'],columns=['b','a'])
df

## Create a DataFrame from Dict of Series

In [ ]:
import numpy as np
np.array([])

In [ ]:
pd.Series().dtype

In [ ]:
pd.DataFrame().dtypes

In [ ]:
data={'one':pd.Series([1,2,3,4,5]),'two':pd.Series([4,5,6,7,8])}
df=pd.DataFrame(data)
df

In [ ]:
# want to create a dataframe using only series
s=pd.Series([1,2,3,4,5])
pd.DataFrame(s,columns=['no'])

In [ ]:
data = [pd.Series([1,2,3,4,5]),pd.Series([1,2,3,4,5])]
pd.DataFrame(data)

### Creating Df using ndarray

In [ ]:
import numpy as np
a = np.arange(2,26).reshape(6,4)
a

In [ ]:
df = pd.DataFrame(a)
df

In [ ]:
df = pd.DataFrame(a,columns=['A','B','C','D'])
df

### DataFrame properties and some operations

In [ ]:
df

In [ ]:
#gives total no. of elements present
df.size

In [ ]:
df.ndim

In [ ]:
df.shape#rows and colums

In [ ]:
#if we want the values of df in the form of array
df.values

In [ ]:
df.empty

In [ ]:
g = pd.DataFrame()
print(g)

In [ ]:
g.empty

In [ ]:
df.items

In [ ]:
df.index

In [ ]:
#top 3 entries==>5 entries default
df.head(3)

In [ ]:
df.tail(2) #last 2 entries

In [ ]:
#Generate descriptive statistics.
#default it works on numeric data
df.describe()
#assignment== do the detailed study of describe

In [ ]:
#Print a concise summary of a DataFrame.
df.info()

In [ ]:
df =pd.DataFrame([{'a':1},{'a':2,'b':3}])
df

In [ ]:
df.info()

In [ ]:
#it will tell u total missing values/NaN present in specific columns
df.isnull().sum()

## Selection, Addition and Deletion of Rows

In [ ]:
a = np.arange(2,26).reshape(6,4)
df = pd.DataFrame(a,columns=['A','B','C','D'])
df

## Selection

In [ ]:
df['A'] #gives values of column A

In [ ]:
type(df['A'])

In [ ]:
df['A'].ndim

### Another approach

In [ ]:
df.A #==>> df['A']

In [ ]:
df.A.ndim

## Second approach to get df

In [ ]:
df[['A']]

In [ ]:
type(df[['A']])

In [ ]:
df[['A']].ndim

# in order to select single column we have 3 options
    df.A=>Series=>1 dim   
    df['A']=>Series=>1 dim   
    df[['A']]=>Df=>2 dim

In [ ]:
#if i want to select more than one column
df[['A','D']]

In [ ]:
df[['B','C']]

In [ ]:
df[['D','B','A']]

In [ ]:
df

## Indexing

In [ ]:
df['A']#column names acts as an index

## Slicing

In [ ]:
[:]#rows
[:,:]#rows,columns
[::,::]

In [ ]:
df[:3]

In [ ]:
#fetch even index rows
df[::2]

In [ ]:
df[3:]

In [ ]:
# we r going to work on columns
df[:,:]
# not allowed

### if we are using slicing on df==> we can fetch only rows==> it wont work similarly on columns

### Selection by label / loc[ ]==> vvimp point

In [ ]:
df

In [ ]:
df.loc[:,:]

In [ ]:
df.loc[2:3]

In [ ]:
df.loc[2:]

In [ ]:
df.loc[:2]

In [ ]:
#i want all rows and only column B,D
df.loc[::,["B","D"]]

In [ ]:
df.loc[:,"B":"D"]

In [ ]:
df[-3:-1]#in a slicing stop is exclusive and in loc[] stop is inclusive

In [ ]:
df

### Selection by integer location / iloc [ ]

In [ ]:
df.iloc[:,1:3]
#stop is exclusive

In [ ]:
df.iloc[:,0::2]

In [ ]:
df.iloc[:,1:]

In [ ]:
df.iloc[:,2:0:-1]

In [ ]:
df.iloc[:,[2,1]]

In [ ]:
# D C B A 
# rows: 1,3,5
df.iloc[1::2,[3,2,1,0]]#::-1

In [ ]:
df.iloc[[0,1,3,5]]

### Slice operation on rows

In [ ]:
df[1:2]

In [ ]:
df[:-1]

### Addition using append

In [23]:
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
df

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [17]:
df

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   30

### Delete row using drop

In [20]:
df.drop([1])

    Name  Age
0    Tom   28
2  Steve   29
3  Ricky   30

In [ ]:
df.drop(labels='b',axis=1)   # OR df.drop(index=1)
# here default axis=0 means row

### Delet column using label and axis=1

In [ ]:
df.drop('a',axis=1) # OR df.drop(labels='b',axis=1)
#axis=1 means column

### Delet column using columns attribute

In [22]:
#df.drop(columns='b')
import numpy as np
df.iloc[1:3:,1::]=np.NaN
df

   0    1    2    3
0  0  1.0  2.0  3.0
1  4  NaN  NaN  NaN
2  8  NaN  NaN  NaN

# Simplest way to directly create DataFrame is

In [21]:
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3,4))
df

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11